footer {    
    background-color: rgb(64, 20, 141);
    color: white;
    max-width: 100vw;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    ul {
        margin: 2rem 0;
        margin: auto;
        list-style: none;

        li{
            margin: 0.2rem;
        }
    }
    
    a {
        display: block;
        color: rgb(131, 213, 131);
        padding: 0.5rem;
        text-decoration: none;
      }
    
}


